{{> header}}

<form action="/images/upload" method="POST" enctype="multipart/form-data">
    <h2>Subir Imagen</h2>
    <label for="file">Seleccione una imagen a subir</label>
    <input type="file" name="pdtc" required autocomplete="off">
    <button>Subir Imagen</button>
</form>

{{> footer}}